alabaster==0.7.12
Babel==2.8.0
backports-abc==0.5
backports.functools-lru-cache==1.5
certifi==2019.9.11
chardet==3.0.4
cycler==0.10.0
docutils==0.16
functools32==3.2.3.post2
futures==3.3.0
idna==2.8
imagesize==1.2.0
Jinja2==2.11.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==2.2.3
numpy==1.16.5
packaging==20.1
Pygments==2.5.2
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==2.0.0
Sphinx==1.8.5
sphinx-rtd-theme==0.4.3
sphinxcontrib-websupport==1.1.2
subprocess32==3.5.4
tornado==5.1.1
typing==3.7.4.1
urllib3==1.25.8
